header {
    position: sticky;
    background: #EEEEEE;
    top: 0;
    z-index: 99;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    cursor: pointer;
}

.image.menu{
    display: flex;
    gap: 30px;
}

.menu {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
    border: none;
    cursor: pointer;
    background: #EEE;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dropdown-content {
    min-width: 250px; 
    max-height: 700px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #EEE;
    cursor: pointer;
    overflow: auto;
}

.dropdown-content a {
    padding: 0.7rem;
    display: block;
    transition: background 0.2s ease, color 0.2s ease;
}

.dropdown-content a:hover {
    background: #335242;
    color: #EEE;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn {
    color: #FACD59;
    background: #EEE;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.arrow-icon {
    display: inline-block;
    vertical-align:text-bottom;
}

.assertment-btn {
    background: #526f5f;
    border-radius: 1rem;
    color: #EEE;
    text-align: center;
    padding: 10px 30px;
    font-size: 0.8rem;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.assertment-btn:hover {
    background: #d5dcb3;
    color: #526f5f;
    border: 1px solid #526f5f;
    cursor: pointer;
}
