.photo-gallery {
    display: flex;
    gap: 20px;
    max-width: 1224px;
    margin: auto;
    padding-bottom: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media(max-width: 768px) {
    .photo-gallery {
	flex-direction: column;
    }
}
